var filters = {
  toNum: function (value) {
    return Number(value).toFixed(2);
  },
  toFix: function(value) {
    if(typeof value == 'number')
      return Number(value / 100).toFixed(2);
    else
      return "0.00";
  },
  toInt: function(value){
    return parseInt(value);
  },
  toDis: function (value){
    return Number(value/1000).toFixed(2);
  },
  toSplitImgs: function(value){
    return value.split(',');
  },
  toFloor:function(value){
    return value > 999 ? Math.floor(value/1000)+'k':value;
  },
  toEllipsis:function(value){
    return value.length>30?value.substring(0,30)+'...':value;
  },
  toEllipsised:function(value){
    if(value){
      return value.length>10?value.substring(0,10)+'...':value;
    }
  },
  toEllipsis1:function(value){
    return value.length>24?value.substring(0,24)+'...':value;
  },
  toPercentage:function(value){
    if(typeof value == 'number')
      return Number((1 - value)*100).toFixed(2);
    else
      return "0.00";
  }
}

var formatStatus = function (status) {
  if(status=='PAID'){
  	return '待使用'
  }
  if(status=='CREATED'){
  	return '待付款'
  }
  if(status=='CLOSE'){
  	return '已关闭'
  }
  if(status=='CONSUME'){
  	return '待评价'
  }
  if(status=='FINISH'){
  	return '已完成'
  }
  if(status=='REFUND'){
  	return '已退款'
  }
}

var initArr = function(len){
    var newArr = [];
    for(var i=0;i<len;i++){
        newArr.push('');
    }
    return newArr;
}

module.exports = {
  toNum: filters.toNum,
  toFix: filters.toFix,
  formatStatus:formatStatus,
  toInt: filters.toInt,
  toDis: filters.toDis,
  toSplitImgs: filters.toSplitImgs,
  toFloor: filters.toFloor,
  toEllipsis: filters.toEllipsis,
  toEllipsis1: filters.toEllipsis1,
  toEllipsised: filters.toEllipsised,
  initArr: initArr
}