var filters = {
  toFix: function(value) {
    return value.toFixed(2);
  },
  toInt: function(value){
    return parseInt(value);
  },
  toDis: function (value){
    return Number(value/100).toFixed(2);
  }
}

module.exports = {
  toFix: filters.toFix,
  toInt: filters.toInt,
  toDis: filters.toDis
}