var filters = {
  toFix: function(value) {
    return Number(value / 100).toFixed(2);
  },
  toInt: function(value){
    return parseInt(value);
  },
  toDis: function (value){
    return Number(value/1000).toFixed(2);
  },
  toSplitImgs: function(value){
    return value.split(',');
  },
  toFloor:function(value){
    return value > 999 ? Math.floor(value/1000)+'k':value;
  }
}

var formatStatus = function (status) {
  if(status=='PAID'){
  	return '待使用'
  }
  if(status=='CREATED'){
  	return '待付款'
  }
  if(status=='CLOSE'){
  	return '已关闭'
  }
  if(status=='CONSUME'){
  	return '待评价'
  }
  if(status=='FINISH'){
  	return '已完成'
  }
  if(status=='REFUND'){
  	return '已退款'
  }
}

var initArr = function(len){
    var newArr = [];
    for(var i=0;i<len;i++){
        newArr.push('');
    }
    return newArr;
}

module.exports = {
  toFix: filters.toFix,
  formatStatus:formatStatus,
  toInt: filters.toInt,
  toDis: filters.toDis,
  toSplitImgs: filters.toSplitImgs,
  toFloor: filters.toFloor,
  initArr: initArr
}